html {
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 17.5px;
  padding-bottom: 17.5px;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #4d5ae5;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-link-span {
  color: #2e2f42;
}

.navigation {
  display: flex;
  gap: 120px;
}

.navigation-list {
  display: none;
  gap: 40px;
}

.navigation-list-item-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current {
  position: relative;
}

.navigation-list-item-link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: #404bbf;
  border-radius: 2px;
}

.navigation-list-item-link.current,
.navigation-list-item-link:hover,
.navigation-list-item-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
  display: none;
}

.address-list-item-link {
  color: #434455;
}

.header-burger-menu-button {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

.header-burger-menu-svg {
  fill: #2f2f37;
}

.mobile-burger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #fff;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-burger-menu.is-open {
  transform: translateX(0%);
}

.mobile-burger-menu > .container {
  position: relative;
}

.mobile-burger-menu-button {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 999;
  border: none;
  background-color: transparent;
  padding: 8px;
  border: 1px solid #e7e9fc;
  border-radius: 50%;
  line-height: 0;
  fill: #2e2f42;
}

.mobile-burger-menu-list {
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-burger-menu-link {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.mobile-burger-menu-link:hover,
.mobile-burger-menu-link:focus,
.mobile-burger-menu-link:active,
.mobile-burger-menu-link.current {
  color: #404bbf;
}

.mobile-burger-menu-address-list {
  margin-top: 168px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-burger-menu-address-link {
  color: #434455;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-burger-menu-address-link:hover,
.mobile-burger-menu-address-link:focus,
.mobile-burger-menu-address-link:active {
  color: #4d5ae5;
}

.mobile-burger-menu-address-links-list {
  display: flex;
  gap: 40px;
  margin-top: 48px;
}

.mobile-burger-menu-address-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  padding: 8px;
  border-radius: 50%;
  line-height: 0;
}

.hero-section {
  background-color: #000000;
  padding: 72px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-background-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  /* max-width: 288px; */
  width: 157px;
  margin-bottom: 72px;
  text-transform: capitalize;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.advantages-section {
  padding: 96px 0;
}

.advantages-section-container-svg {
  display: none;
}

.advantages-section-list-item {
  margin-top: 72px;
}

.advantages-section-list-item-title {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.advantages-section-list-item-text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
}

.our-team-section {
  background-color: #f4f4fd;
  padding: 96px 0;
}

.our-team-section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team-section-list {
  display: flex;
  flex-direction: column;
  min-width: 264px;
  max-width: 552px;
  margin: 0 auto;
  gap: 72px;
}

.our-team-section-list-item {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  margin: 0 auto;
}

.our-team-section-list-item-title {
  color: #2e2f42;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.our-team-section-list-item-text {
  color: #434455;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 8px;
}

.our-team-section-links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 8px;
}

.our-team-section-links-list-item {
  width: 40px;
  height: 40px;
}

.our-team-section-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-section-link:hover {
  background-color: #404bbf;
}

.our-team-section-link:focus {
  background-color: #404bbf;
}

.our-team-section-link-svg {
  fill: #f4f4fd;
}

.our-team-section-container {
  padding: 32px 0;
}

.our-portfolio-section {
  padding: 96px 0;
}

.our-portfolio-section-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-portfolio-section-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.our-portfolio-section-list-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-section-list-item-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio-section-list-item-img {
  max-width: 288px;
}

.our-portfolio-section-list-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.our-portfolio-section-list-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.our-portfolio-section-box {
  position: relative;
  overflow: hidden;
}

.our-portfolio-section-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  background-color: #4d5ae5;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-section-list-item:hover .our-portfolio-section-overlay-text {
  transform: translateY(0);
}

.our-portfolio-section-list-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.footer {
  background-color: #2e2f42;
  color: #ffffff;
  padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
}

.footer-container-logo-and-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #4d5ae5;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-link-span-footer {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-links-text {
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-links-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.footer-links-list-item {
  width: 40px;
  height: 40px;
}

.footer-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-svg {
  fill: #f4f4fd;
}

.footer-link:hover {
  background-color: #31d0aa;
}

.footer-link:focus {
  background-color: #31d0aa;
}

.footer-form-text {
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-form-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  opacity: 0.3;
  width: 288px;
  margin-bottom: 16px;
}

.footer-form-input::placeholder {
  color: #ffffff;
}

.footer-form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
}

.footer-form-svg {
  fill: #ffffff;
  margin-left: 16px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 623px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  line-height: 0;
  width: 24px;
  height: 24px;
  padding: 0;
  fill: #2e2f42;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover,
.modal-close-button:focus {
  fill: #ffffff;
  background-color: #404bbf;
  border: none;
}

.modal-text {
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-form-wrapper {
  margin-bottom: 8px;
}

.modal-form-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-icon,
.modal-form-input:focus {
  fill: #4d5ae5;
  border-color: #4d5ae5;
}

.modal-form-textarea-wrapper {
  margin-bottom: 16px;
}

.modal-form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus {
  border-color: #4d5ae5;
}

.modal-form-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.modal-form-styled-checkbox {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.modal-form-checkbox:checked
  + .modal-form-checkbox-label
  .modal-form-styled-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.modal-form-checkbox-label {
  color: #8e8f99;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.modal-form-checkbox-wrapper {
  margin-bottom: 24px;
}

.privacy-policy-link {
  color: #4d5ae5;
  text-decoration-line: underline;
}

.modal-form-button {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-order-success, .backdrop-footer-success {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-order-success.is-open, .backdrop-footer-success.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.successful-form-fill-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px;
  width: 240px;
  text-align: center;
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-resolution: 192dpi) {
  .hero-section {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/img-2x/hero-background-image-2x.jpg);
  }
}

@media (min-width: 320px) {
  .container {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* tablet styles */

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    width: 768px;
  }

  .header-container {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .header-burger-menu-button {
    display: none;
  }

  .mobile-burger-menu {
    display: none;
  }

  .navigation-list {
    display: flex;
  }

  .address {
    display: flex;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .hero-section {
    padding: 112px 0;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    width: 496px;
    margin-bottom: 36px;
  }

  .advantages-section-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .advantages-section-list-item {
    width: calc((100% - 24px) / 2);
  }

  .our-team-section-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .our-team-section-list-item {
    width: calc((100% - 24px) / 2);
  }

  .our-portfolio-section-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .our-portfolio-section-list-item {
    width: calc((100% - 24px) / 2);
    max-width: 356px;
  }

  .our-portfolio-section-list-item-img {
    max-width: 356px;
  }

  .footer-container {
    justify-content: start;
    column-gap: 24px;
    padding: 0 108px;
  }

  .footer-container-logo-and-text {
    justify-content: flex-start;
    width: 264px;
    margin-bottom: 0;
  }

  .footer-container-links {
    margin-bottom: 0;
  }

  .footer-links-text {
    text-align: start;
  }

  .footer-form {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .footer-form-text {
    text-align: start;
  }

  .footer-form-input {
    width: 264px;
  }

  .modal {
    width: 408px;
    min-height: 584px;
  }
}

/* computer styles */

@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    width: 1158px;
  }

  .header-container {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .address-list {
    flex-direction: row;
    gap: 40px;
  }

  .hero-section {
    padding: 188px 0;
  }

  .hero-title {
    margin-bottom: 48px;
  }

  .advantages-section {
    padding: 120px 0;
  }

  .advantages-section-container-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    padding: 24px 100px;
    background-color: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    margin-bottom: 8px;
  }

  .advantages-section-list-item {
    width: calc((100% - 72px) / 4);
  }

  .advantages-section-list-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .our-team-section {
    padding: 120px 0;
  }

  .our-team-section-list {
    max-width: 1128px;
  }

  .our-team-section-list-item {
    width: calc((100% - 72px) / 4);
  }

  .our-portfolio-section {
    padding: 120px 0;
  }

  .our-portfolio-section-list-item-img {
    max-width: 360px;
  }

  .our-portfolio-section-list-item {
    width: calc((100% - 48px) / 3);
    max-width: 360px;
  }

  .footer-container {
    padding-left: 16px;
    padding-right: 16px;
    gap: 0;
  }

  .footer-container-logo-and-text {
    margin-right: 120px;
  }

  .footer-container-links {
    margin-right: 80px;
  }

  .footer-form-input {
    opacity: 1;
  }
}
